pkgbase = xray-domain-list-community
	pkgdesc = A list of domains to be used as geosites for routing purpose in Project V
	pkgver = 20240621090204
	pkgrel = 1
	url = https://github.com/v2fly/domain-list-community
	arch = any
	license = MIT
	makedepends = go
	source = xray-domain-list-community-20240621090204.tar.gz::https://github.com/v2fly/domain-list-community/archive/20240621090204.tar.gz
	sha256sums = 5536a4a104fd79b8edf3558a38c43077df1df657d161898d60ce0dea42e43051

pkgname = xray-domain-list-community
