pkgbase = xray-domain-list-community
	pkgdesc = A list of domains to be used as geosites for routing purpose in Project V
	pkgver = 20240614093027
	pkgrel = 1
	url = https://github.com/v2fly/domain-list-community
	arch = any
	license = MIT
	makedepends = go
	source = xray-domain-list-community-20240614093027.tar.gz::https://github.com/v2fly/domain-list-community/archive/20240614093027.tar.gz
	sha256sums = 76b19d132ee3138d6cd04aa84a4cfba903f441c843e3ffc9894d9f4f3616f801

pkgname = xray-domain-list-community
